@import "tailwindcss";
@layer base {
  .dark {
    /* Add dark mode styles here */
    background-color: #313E51; /* example */
  }
}
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }